.about-us {
  padding-left: 30px;
  padding-right: 30px;
}

.about-us__title {
  margin: 0;
  font-size: $font-size--h2;
  line-height: $line-height--h2;
  font-weight: bold;
}

@media (min-width: $screen-medium) {
  .about-us {
    padding: 0 50px;
  }
  .about-us__title {
    font-size: $font-size--medium-h1;
    line-height:  $line-height--medium-h1;
  }
}

@media (min-width: $screen-large) {
  .about-us {
    padding: 0 275px;
  }
  .about-us__title {
    font-size: $font-size--large-h1;
    line-height:  $line-height--large-h1;
  }
}

