.advantages-list {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

.advantages-list__item {
  height: 125px;
  padding-top: 80px;

}

.advantages-list__title {
  font-size: $font-size--bigger;
  line-height: $line-height--bigger - 10px;
  font-weight: bold;
  color: #000000;
}


@media (min-width: $width-medium) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
  }

  .advantages-list__item {
    width: 50%;
    padding: 0;
    padding-top: 100px;

    &--eco {
      order: 0;
    }

    &--style {
      order: 2;
    }

    &--likes {
      order: 4;
    }

    &--handmade {
      order: 1;
    }

    &--local {
      order: 3;
    }

    &--wrapped {
      order: 5;
    }
  }
}
