.advantages-list {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

.advantages-list__item {
  height: 125px;
  padding-top: 80px;
  position: relative;

  &--eco {
    &::before {
      content: "";
      position: absolute;
      top: 35px;
      left: 10px;
      height: 50px;
      width: 50px;
      background:
        no-repeat
        url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2231.972px%22%20height%3D%2237.301px%22%20viewBox%3D%228.014%204.35%2031.972%2037.301%22%20enable-background%3D%22new%208.014%204.35%2031.972%2037.301%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cpath%20fill%3D%22%2363d1bb%22%20d%3D%22M24%2C41.65c8.827%2C0%2C15.986-7.159%2C15.986-15.986C31.158%2C25.664%2C24%2C32.822%2C24%2C41.65z%20M12.641%2C20.78%20c0%2C2.451%2C1.989%2C4.441%2C4.44%2C4.441c0.932%2C0%2C1.803-0.294%2C2.513-0.782l-0.036%2C0.337c0%2C2.451%2C1.99%2C4.441%2C4.441%2C4.441%20s4.44-1.99%2C4.44-4.441l-0.036-0.337c0.719%2C0.497%2C1.582%2C0.782%2C2.514%2C0.782c2.451%2C0%2C4.44-1.99%2C4.44-4.441%20c0-1.768-1.038-3.286-2.54-3.997c1.492-0.71%2C2.54-2.229%2C2.54-3.997c0-2.451-1.989-4.44-4.44-4.44c-0.932%2C0-1.803%2C0.293-2.514%2C0.781%20L28.44%2C8.79c0-2.451-1.989-4.44-4.44-4.44s-4.441%2C1.99-4.441%2C4.44l0.036%2C0.337c-0.719-0.497-1.581-0.781-2.513-0.781%20c-2.451%2C0-4.44%2C1.99-4.44%2C4.44c0%2C1.768%2C1.039%2C3.286%2C2.54%2C3.997C13.68%2C17.494%2C12.641%2C19.012%2C12.641%2C20.78z%20M24%2C12.343%20c2.451%2C0%2C4.44%2C1.989%2C4.44%2C4.44c0%2C2.451-1.989%2C4.44-4.44%2C4.44s-4.441-1.99-4.441-4.44C19.559%2C14.332%2C21.549%2C12.343%2C24%2C12.343z%20%20M8.014%2C25.664c0%2C8.827%2C7.158%2C15.986%2C15.986%2C15.986C24%2C32.822%2C16.842%2C25.664%2C8.014%2C25.664z%22%2F%3E%0A%3C%2Fsvg%3E");
    }
  }

  &--style {
    padding-top: 75px;

    &::before {
      content: "";
      position: absolute;
      top: 35px;
      left: 0;
      height: 50px;
      width: 50px;
      background:
        no-repeat
        url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Money%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%2363d1bb%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2246.575px%22%20height%3D%2227.332px%22%20viewBox%3D%2246.212%2056.834%2046.575%2027.332%22%20enable-background%3D%22new%2046.212%2056.834%2046.575%2027.332%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cpath%20d%3D%22M88.882%2C56.834H50.116c-2.156%2C0-3.904%2C1.749-3.904%2C3.905v19.521c0%2C2.156%2C1.748%2C3.905%2C3.904%2C3.905h38.766%20c2.156%2C0%2C3.905-1.749%2C3.905-3.905V60.739C92.787%2C58.583%2C91.038%2C56.834%2C88.882%2C56.834z%20M49.235%2C81.784V59.551h40.202v22.233H49.235z%22%20%2F%3E%0A%20%20%3Cpath%20d%3D%22M53.14%2C77.88h32.395V63.456H53.14V77.88z%20M69.5%2C65.354c2.936%2C0%2C5.315%2C2.38%2C5.315%2C5.314c0%2C2.936-2.379%2C5.314-5.315%2C5.314%20s-5.314-2.379-5.314-5.314C64.185%2C67.733%2C66.564%2C65.354%2C69.5%2C65.354z%22%2F%3E%0A%3C%2Fsvg%3E");
    }
  }

  &--likes {
    padding-top: 75px;

    &::before {
      content: "";
      position: absolute;
      top: 35px;
      left: 10px;
      height: 50px;
      width: 50px;
      background:
        no-repeat
        url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2233.05px%22%20height%3D%2227.857px%22%20viewBox%3D%2247.475%2050.071%2033.05%2027.857%22%20enable-background%3D%22new%2047.475%2050.071%2033.05%2027.857%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cpath%20fill%3D%22%2363d1bb%22%20d%3D%22M80.525%2C58.808c0-4.825-3.912-8.736-8.736-8.736c-3.405%2C0-6.348%2C1.951-7.789%2C4.793%20c-1.441-2.842-4.384-4.793-7.789-4.793c-4.825%2C0-8.736%2C3.911-8.736%2C8.736c0%2C9.127%2C14.657%2C19.121%2C16.525%2C19.121%20C65.869%2C77.929%2C80.525%2C67.979%2C80.525%2C58.808z%22%2F%3E%0A%3C%2Fsvg%3E");
    }
  }

  &--handmade {
    padding-top: 75px;

    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 5px;
      height: 50px;
      width: 50px;
      background:
        no-repeat
        url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%2363d1bb%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2234.373px%22%20height%3D%2234.373px%22%20viewBox%3D%220%200%2034.373%2034.373%22%20enable-background%3D%22new%200%200%2034.373%2034.373%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cg%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0.286%2C14.069c-0.382%2C2.073-0.384%2C4.211%2C0.008%2C6.301l4.121-3.21L0.286%2C14.069z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M24.403%2C1.585C19.62-0.623%2C13.959-0.559%2C9.149%2C1.992l7.513%2C5.625L24.403%2C1.585z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M33.901%2C13.175l-4.811%2C3.748l4.936%2C3.695C34.522%2C18.173%2C34.489%2C15.63%2C33.901%2C13.175z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M9.209%2C32.414c4.844%2C2.534%2C10.724%2C2.65%2C15.73%2C0.113l-8.096-6.062L9.209%2C32.414z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M7.914%2C14.433L1.681%2C9.767c-0.32%2C0.669-0.595%2C1.356-0.825%2C2.056l5.308%2C3.974L7.914%2C14.433z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M18.593%2C25.102l8.336%2C6.242c0.277-0.191%2C0.551-0.391%2C0.82-0.601c0.318-0.248%2C0.625-0.505%2C0.92-0.771l-8.326-6.234%20L18.593%2C25.102z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M11.413%2C11.707L4.002%2C6.158C3.54%2C6.709%2C3.117%2C7.285%2C2.733%2C7.881l6.931%2C5.189L11.413%2C11.707z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M22.093%2C22.375l8.092%2C6.059c0.471-0.544%2C0.904-1.112%2C1.297-1.701l-7.639-5.721L22.093%2C22.375z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M14.913%2C8.98L7.196%2C3.203C7.003%2C3.341%2C6.812%2C3.482%2C6.623%2C3.629C6.227%2C3.938%2C5.849%2C4.261%2C5.487%2C4.597l7.676%2C5.747%20L14.913%2C8.98z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M25.592%2C19.649l6.972%2C5.221c0.33-0.662%2C0.615-1.341%2C0.855-2.033l-6.077-4.55L25.592%2C19.649z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M26.448%2C2.706L0.88%2C22.626c0.233%2C0.698%2C0.513%2C1.386%2C0.839%2C2.059l26.52-20.663C27.667%2C3.541%2C27.068%2C3.102%2C26.448%2C2.706z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M30.743%2C6.624c-0.301-0.386-0.614-0.754-0.939-1.106L2.786%2C26.567c0.262%2C0.402%2C0.542%2C0.797%2C0.843%2C1.183%20c0.142%2C0.183%2C0.288%2C0.359%2C0.436%2C0.534L31.155%2C7.176C31.021%2C6.99%2C30.886%2C6.806%2C30.743%2C6.624z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M32.298%2C8.999L5.552%2C29.838c0.544%2C0.501%2C1.114%2C0.962%2C1.708%2C1.382l25.962-20.228C32.959%2C10.314%2C32.651%2C9.648%2C32.298%2C8.999z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
    }
  }

  &--local {
    padding-top: 70px;

    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: -5px;
      height: 50px;
      width: 50px;
      background:
        no-repeat
        url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%2363d1bb%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2254.156px%22%20height%3D%2223.183px%22%20viewBox%3D%22612.532%20500.386%2054.156%2023.183%22%20enable-background%3D%22new%20612.532%20500.386%2054.156%2023.183%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cg%3E%0A%20%20%20%20%3Cpath%20d%3D%22M652.844%2C506.098c-3.647-0.971-7.839-1.667-12.359-1.666c-2.891%2C0.001-5.457%2C0.243-7.71%2C0.623l-6.784-4.668l-13.456%2C0.005%20l5.811%2C6.184h8.447c-4.58%2C1.598-6.759%2C3.515-6.759%2C3.515l0.002%2C3.777c0%2C0%2C2.313%2C1.912%2C6.931%2C3.518l-8.623-0.005l-5.811%2C6.188%20l13.455%2C0.002l6.816-4.692c2.261%2C0.398%2C4.822%2C0.647%2C7.681%2C0.648c4.522-0.001%2C8.712-0.697%2C12.36-1.667%20c-1.176-1.775-1.915-3.743-1.918-5.877C650.93%2C509.842%2C651.665%2C507.871%2C652.844%2C506.098z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M656.267%2C507.132c-1.284%2C1.605-1.969%2C3.25-1.965%2C4.84c-0.007%2C1.597%2C0.677%2C3.238%2C1.968%2C4.847%20c6.399-2.162%2C10.419-4.841%2C10.419-4.841S662.67%2C509.298%2C656.267%2C507.132z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
    }
  }

  &--wrapped {
    padding-top: 70px;

    &::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 5px;
      height: 50px;
      width: 50px;
      background:
        no-repeat
        url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%2363d1bb%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2232.666px%22%20height%3D%2232.486px%22%20viewBox%3D%22239.665%20239.757%2032.666%2032.486%22%20enable-background%3D%22new%20239.665%20239.757%2032.666%2032.486%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cpath%20fill%3D%22%2363d1bb%22%20d%3D%22M242.56%2C272.243h12.504v-13.91H242.56V272.243z%20M270.742%2C248.623h-7.335%20c0.521-0.267%2C0.984-0.549%2C1.396-0.845c1.588-1.133%2C2.424-2.57%2C2.42-3.999c0.002-1.169-0.556-2.202-1.359-2.901%20c-0.805-0.704-1.869-1.119-3.016-1.121c-1.22-0.001-2.352%2C0.421-3.32%2C1.069c-1.459%2C0.979-2.606%2C2.451-3.424%2C4.067%20c-0.039%2C0.079-0.078%2C0.157-0.115%2C0.236c-0.299-0.623-0.647-1.226-1.041-1.792c-0.691-0.985-1.523-1.86-2.497-2.511%20c-0.97-0.646-2.103-1.069-3.322-1.069c-1.213%2C0.004-2.323%2C0.514-3.155%2C1.295c-0.828%2C0.783-1.41%2C1.885-1.412%2C3.135%20c-0.002%2C0.73%2C0.211%2C1.494%2C0.649%2C2.188c0.552%2C0.872%2C1.424%2C1.628%2C2.633%2C2.248h-6.588c-0.878%2C0-1.591%2C0.712-1.591%2C1.59v5.897h15.396%20v-7.488h1.873v7.488h15.396v-5.897C272.333%2C249.334%2C271.621%2C248.623%2C270.742%2C248.623%20M248.38%2C246.284%20c-0.622-0.391-1-0.785-1.22-1.135c-0.22-0.354-0.294-0.662-0.296-0.963c-0.004-0.504%2C0.248-1.042%2C0.691-1.461%20c0.437-0.415%2C1.028-0.667%2C1.562-0.667h0.013c0.685%2C0%2C1.366%2C0.231%2C2.046%2C0.683c1.018%2C0.671%2C1.975%2C1.85%2C2.645%2C3.187%20c0.342%2C0.676%2C0.609%2C1.39%2C0.789%2C2.087C251.528%2C247.694%2C249.532%2C247.013%2C248.38%2C246.284%20M258.917%2C244.657%20c0.557-0.797%2C1.21-1.466%2C1.887-1.916c0.68-0.451%2C1.362-0.683%2C2.047-0.683h0.006c0.574%2C0%2C1.117%2C0.22%2C1.494%2C0.55%20c0.377%2C0.336%2C0.571%2C0.739%2C0.573%2C1.171c-0.004%2C0.512-0.272%2C1.259-1.467%2C2.132c-1.138%2C0.825-3.101%2C1.673-6.127%2C2.265%20C257.62%2C246.974%2C258.177%2C245.704%2C258.917%2C244.657%20M256.937%2C272.243h12.506v-13.91h-12.506V272.243z%22%2F%3E%0A%3C%2Fsvg%3E");
    }
  }
}

.advantages-list__title {
  font-size: $font-size--bigger;
  line-height: $line-height--bigger - 10px;
  font-weight: bold;
  color: #000000;
}


@media (min-width: $screen-medium) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 65px;
  }

  .advantages-list__title {
    font-size: $font-size--bigger + 3px;
    font-weight: bold;
    color: #000000;
  }

  .advantages-list__item {
    width: 50%;
    padding: 0;
    padding-top: 77px;
    margin-bottom: 30px;

    &--eco {
      order: 0;
    }

    &--style {
      order: 2;
    }

    &--likes {
      order: 4;
    }

    &--handmade {
      order: 1;

      &::before {
        top: 40px;
      }
    }

    &--local {
      order: 3;

      &::before {
        top: 40px;
      }
    }

    &--wrapped {
      order: 5;

      &::before {
        top: 40px;
      }
    }
  }
}
