.button {
  display: inline-flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 100%;

  border: solid 2px $color-darkgrey;
  background: transparent;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $color-darkgrey;
}
