.card-mini {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid $color-border;
}

.card-mini__link {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card-mini__image {
  margin-bottom: 25px;
}

.card-mini__title {
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  margin: 0;
  margin-bottom: 10px;
}

.card-mini__wrapper {
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
}

.card-mini__info {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 20px;
  width: 100%;

  &::after {
    content: "";
    display: block;
    margin-top: 20px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid $color-border;
  }
}

.card-mini__group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card-mini__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;

  display: inline-block;
  margin-right: auto;
  padding-bottom: 20px;
}

.card-mini__button {
  height: 22px;
  width: 22px;
}

@media (min-width: $width-medium) {
  .card-mini {
    min-height: 335px;
    display: flex;
  }

  .card-mini__wrapper {
    flex-basis: 50%;
    min-height: 335px;
    display: flex;
    flex-direction: column;
  }

  .card-mini__link {
    height: 0;
    width: 0;

    &--title {
      height: auto;
      width: auto;
    }

    &--image {
      height: auto;
      width: 50%;
      flex-shrink: 0;
    }
  }

  .card-mini__image {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .card-mini__title {
    padding-top: 20px;
    margin: 0;
  }

  .card-mini__info {
    margin: 0;

    font-size: 15px;
    line-height: 30px;

    &::after {
      margin: 0;
      padding: 0;
      border-bottom: none;
    }
  }

  .card-mini__group {
    margin-top: auto;

    border-top: 1px solid $color-border;
    padding-top: 20px;
  }

  .card-mini__price {
    font-size: 17px;
    line-height: 24px;
  }
}
