.card-mini {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid $color-border;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.card-mini__link {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card-mini__image {
  margin-bottom: 25px;
}

.card-mini__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: $font-size + 2px;
  line-height: $line-height;
  color: #000000;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card-mini__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-right: 30px;
  padding-left: 30px;
}

.card-mini__info {
  width: 100%;
  margin-bottom: 20px;
  font-size: $font-size - 2px;
  line-height: $line-height;
  color: $color-darkgrey;

  &::after {
    content: "";
    display: block;
    margin-top: 20px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid $color-border;
  }
}

.card-mini__group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
}

.card-mini__price {
  display: inline-block;
  padding-bottom: 20px;
  margin-right: auto;

  font-size: $font-size;
  line-height: $line-height;
  font-weight: bold;
}

.card-mini__button {
  height: 20px;
  width: 20px;
  background: transparent;
  border: none;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2220.294px%22%20height%3D%2218.849px%22%20viewBox%3D%22264.205%20370.961%2020.294%2018.849%22%20enable-background%3D%22new%20264.205%20370.961%2020.294%2018.849%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cpath%20fill%3D%22%23231F20%22%20d%3D%22M283.75%2C378.19h-3.151l-3.407-6.814c-0.185-0.37-0.634-0.52-1.006-0.335%20c-0.371%2C0.186-0.521%2C0.636-0.335%2C1.006l3.071%2C6.143h-9.138l3.072-6.143c0.185-0.371%2C0.035-0.821-0.335-1.006%20c-0.37-0.185-0.821-0.035-1.006%2C0.335l-3.407%2C6.814h-3.151c-0.414%2C0-0.75%2C0.336-0.75%2C0.75s0.336%2C0.75%2C0.75%2C0.75h0.157l0.855%2C2.991%20c-0.187%2C0.137-0.316%2C0.347-0.316%2C0.595c0%2C0.396%2C0.309%2C0.71%2C0.697%2C0.739l1.656%2C5.795h12.697l1.656-5.795%20c0.388-0.028%2C0.698-0.344%2C0.698-0.739c0-0.249-0.129-0.459-0.316-0.596l0.854-2.991h0.157c0.414%2C0%2C0.75-0.336%2C0.75-0.75%20S284.164%2C378.19%2C283.75%2C378.19z%20M279.569%2C388.311h-10.433l-1.224-4.284h12.881L279.569%2C388.311z%20M281.222%2C382.526h-13.739%20l-0.81-2.836h15.359L281.222%2C382.526z%22%2F%3E%0A%3C%2Fsvg%3E");

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2220.294px%22%20height%3D%2218.849px%22%20viewBox%3D%22264.205%20370.961%2020.294%2018.849%22%20enable-background%3D%22new%20264.205%20370.961%2020.294%2018.849%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cpath%20fill%3D%22%2363d1bb%22%20d%3D%22M283.75%2C378.19h-3.151l-3.407-6.814c-0.185-0.37-0.634-0.52-1.006-0.335%20c-0.371%2C0.186-0.521%2C0.636-0.335%2C1.006l3.071%2C6.143h-9.138l3.072-6.143c0.185-0.371%2C0.035-0.821-0.335-1.006%20c-0.37-0.185-0.821-0.035-1.006%2C0.335l-3.407%2C6.814h-3.151c-0.414%2C0-0.75%2C0.336-0.75%2C0.75s0.336%2C0.75%2C0.75%2C0.75h0.157l0.855%2C2.991%20c-0.187%2C0.137-0.316%2C0.347-0.316%2C0.595c0%2C0.396%2C0.309%2C0.71%2C0.697%2C0.739l1.656%2C5.795h12.697l1.656-5.795%20c0.388-0.028%2C0.698-0.344%2C0.698-0.739c0-0.249-0.129-0.459-0.316-0.596l0.854-2.991h0.157c0.414%2C0%2C0.75-0.336%2C0.75-0.75%20S284.164%2C378.19%2C283.75%2C378.19z%20M279.569%2C388.311h-10.433l-1.224-4.284h12.881L279.569%2C388.311z%20M281.222%2C382.526h-13.739%20l-0.81-2.836h15.359L281.222%2C382.526z%22%2F%3E%0A%3C%2Fsvg%3E");
    opacity: 1;
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2220.294px%22%20height%3D%2218.849px%22%20viewBox%3D%22264.205%20370.961%2020.294%2018.849%22%20enable-background%3D%22new%20264.205%20370.961%2020.294%2018.849%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cpath%20fill%3D%22%2363d1bb%22%20d%3D%22M283.75%2C378.19h-3.151l-3.407-6.814c-0.185-0.37-0.634-0.52-1.006-0.335%20c-0.371%2C0.186-0.521%2C0.636-0.335%2C1.006l3.071%2C6.143h-9.138l3.072-6.143c0.185-0.371%2C0.035-0.821-0.335-1.006%20c-0.37-0.185-0.821-0.035-1.006%2C0.335l-3.407%2C6.814h-3.151c-0.414%2C0-0.75%2C0.336-0.75%2C0.75s0.336%2C0.75%2C0.75%2C0.75h0.157l0.855%2C2.991%20c-0.187%2C0.137-0.316%2C0.347-0.316%2C0.595c0%2C0.396%2C0.309%2C0.71%2C0.697%2C0.739l1.656%2C5.795h12.697l1.656-5.795%20c0.388-0.028%2C0.698-0.344%2C0.698-0.739c0-0.249-0.129-0.459-0.316-0.596l0.854-2.991h0.157c0.414%2C0%2C0.75-0.336%2C0.75-0.75%20S284.164%2C378.19%2C283.75%2C378.19z%20M279.569%2C388.311h-10.433l-1.224-4.284h12.881L279.569%2C388.311z%20M281.222%2C382.526h-13.739%20l-0.81-2.836h15.359L281.222%2C382.526z%22%2F%3E%0A%3C%2Fsvg%3E");
  }
}

@media (min-width: $screen-medium) {
  .card-mini {
    min-height: 335px;
    display: flex;
  }

  .card-mini__wrapper {
    flex-basis: 50%;
    min-height: 335px;
    display: flex;
    flex-direction: column;
  }

  .card-mini__link {
    height: 0;
    width: 0;

    &--title {
      height: auto;
      width: auto;
    }

    &--image {
      height: auto;
      width: 50%;
      flex-shrink: 0;
    }
  }

  .card-mini__image {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .card-mini__title {
    padding-top: 20px;
    padding-right: 40px;
    margin: 0;
    font-size: $font-size + 5px;
  }

  .card-mini__info {
    margin: 0;
    font-size: $font-size;
    line-height: $line-height + 6px;

    &::after {
      margin: 0;
      padding: 0;
      border-bottom: none;
    }
  }

  .card-mini__group {
    margin-top: auto;
    margin-bottom: 15px;
    padding-top: 20px;

    border-top: 1px solid $color-border;
  }

  .card-mini__price {
    font-size: $font-size + 2px;
    line-height: $line-height;
  }
}

@media (min-width: $screen-large) {
  .card-mini {
    display: flex;
    flex-wrap: wrap;
    border-bottom: none;
  }

  .card-mini__wrapper {
    flex-basis: 100%;
    flex-grow: 1;
    min-height: 200px;
    border: 1px solid $color-border;
  }

  .card-mini__link {
    width: 100%;
    flex-grow: 0;

    &--image {
      height: 462px;
    }
  }

  .card-mini__title {
    padding-top: 25px;
    padding-right: 15px;
    font-size: $font-size--bigger + 3px;
    line-height: $line-height--bigger - 6px;
  }

  .card-mini__info {
    padding-top: 10px;
  }

  .card-mini__group {
    margin-bottom: 5px;
  }
}
