.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.catalog-list__item {
  min-height: 375px;
  margin-top: 30px;
}

@media (min-width: $width-medium) {
  .catalog-list {
    margin: 0 50px;
    margin-top: 80px;
  }

  .catalog-list__item {
    min-height: 335px;
    margin: 0;
    margin-bottom: 55px;
  }
}
