.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.catalog-list__item {
  min-height: 375px;
  margin-top: 30px;
}

@media (min-width: $screen-medium) {
  .catalog-list {
    margin: 0 50px;
    margin-top: 70px;
  }

  .catalog-list__item {
    min-height: 335px;
    margin: 0;
    margin-bottom: 53px;

    &--last {
      margin-bottom: 45px;
    }
  }
}

@media (min-width: $screen-large) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 110px;
    margin-bottom: 55px;
    margin-left: calc((100% - 1050px) /2);
    margin-left: calc((100% - 1050px) /2);
  }
  
  .catalog-list__item {
    width: 317px;
      margin: 0;

    &--last {
      margin: 0;
    }
  }
}
