.contacts__title {
  font-size: $font-size--h2;
  line-height: $line-height--h2;

  padding-left: 30px;
  padding-right: 30px;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;

  font-size: $font-size;
  line-height: $line-height +6px;
  color: $color-darkgrey;
  font-style: normal;
}

.contacts__wrapper-group {
  width: 100%;
}

.contacts__label {
  width: 65px;
}

.contacts__info {
  color: #000000;
}

.contacts__info-link {
  color: #000000;
  text-decoration: none;
  padding-bottom: 2px;

  border-bottom: 1px solid #62d1ba;
}

.contacts__map-interactive {
  height: 455px;
  margin-bottom: 40px;
}

.contacts__map-static {
  width: 100%;
}

.contacts__button {
  width: calc(100% - 2 * 30px);
  margin-left: 30px;
  margin-right: 30px;
}

@media (min-width: $screen-medium) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__title {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;

    font-size: $font-size--medium-h1;
    line-height:  $line-height--medium-h1;
  }

  .contacts__wrapper {
    width: 100%;
    padding: 0 50px;
    margin-bottom: 60px;
  }

  .contacts__wrapper-group {
    width: 50%;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__label {
    font-size: $font-size--bigger;
    line-height:  $line-height--bigger;
  }

  .contacts__info {
    font-size: $font-size--bigger;
    line-height:  $line-height--bigger;
  }

  .contacts__map-interactive {
    width: 100%;
    margin-bottom: 0;
  }

  .contacts__button {
    
    width: 230px;
    margin: 55px auto;
  }
}

@media (min-width: $screen-large) {
  .contacts {
    min-height: 465px;
    margin: 0 100px;
    margin-bottom: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .contacts__map-interactive {
    width: 525px;
    height: 465px;
    position: absolute;
    right: 0;
  }

  .contacts__map-static {
    width: 525px;
    height: 465px;
  }

  .contacts__title {
    padding-left: 175px;
  }
  .contacts__wrapper {
    padding-left: 175px;
    display: flex;
    flex-direction: column;
  }
  .contacts__wrapper-group {
    padding-bottom: 30px;
  }
  .contacts__button {
    margin: 0;
    margin-top: auto;
    margin-left: 175px;
  }
}
