.copyright {
  height: 80px;
  width: 100%;
}

.copyright__link {
  height: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &:active {
    opacity: 0.3;
  }
}

.copyright__link:hover svg {
  fill: #46c1ae;
}

.copyright__lead {
  margin-right: 25px;
  font-size: $font-size + 4px;
  line-height: $line-height - 6px;
  color: #000000;
}

@media (min-width: $screen-medium) {
  .copyright {
    width: 185px;
    margin: auto 0;
  }
}
