.copyright {
  height: 80px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.copyright__lead {
  font-size: 19px;
  line-height: 18px;

  margin-right: 30px;
}

@media (min-width: $width-medium) {
  .copyright {
    width: 190px;
    margin: auto 0;
  }
}
