.featured-goods {
  /* display: flex из-за бага в IE11 */
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid $color-border;
  border-image-source: url("../img/bg-zigzag-line.svg");
  border-image-slice: 90;
  border-image-width: 0 0 6px 0;
  border-image-repeat: repeat;
}

.featured-goods__title {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  font-size: $font-size + 10px;
  line-height: $line-height + 6px;
  font-weight: normal;
}

.featured-goods__label {
  padding-bottom: 30px;
  font-size: $font-size + 2px;
  line-height: $line-height - 4px;
  font-weight: normal;
  color: $color-text--primary;
  text-transform: uppercase;
}

.featured-goods__text-wrapper {
  margin-bottom: 20px;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: normal;
  color: $color-darkgrey;
}

.featured-goods__details-wrapper {
  width: 100%;
  margin: 0;
  margin-bottom: 28px;
  border-collapse: collapse;
  font-size: $font-size;
  line-height: $line-height - 4px;
  font-weight: normal;
  color: $color-darkgrey;
}

.featured-goods__details-row {
  height: 40px;
  display: flex;

  align-items: center;
  border-bottom: 1px solid $color-border;
}

.featured-goods__details-label {
  display: inline-block;
  width: 100px;
}

.featured-goods__details-data {
  display: inline-block;
  margin: 0;
}

.featured-goods__image {
  height: 315px;
  width: 260px;
}

.featured-goods__price {
  display: flex;
  width: 100%;
  min-height: 70px;
  justify-content: center;
  align-items: center;
  font-size: $font-size + 2px;
  line-height: $line-height;
  color: $color-darkgrey;
  font-weight: bold;
}

.featured-goods__button {
  height: 52px;
  width: 260px;
}

@media (min-width: $screen-medium) {
  .featured-goods {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0 50px;
    padding-bottom: 65px;
    margin-bottom: 52px;
    border-image-slice: 60;
    border-image-width: 0 0 15px 0;
    border-image-repeat: repeat;
  }

  .featured-goods__title {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    font-size: $font-size--large-h1 - 10px;
    line-height:  $line-height--large-h1 - 6px;
    font-weight: bold;
  }

  .featured-goods__label {
    padding: 0;
    padding-right: 25px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-top: auto;
    width: 100px;
    font-size: $font-size + 2;
    line-height: $line-height - 7;
    font-weight: bold;
    text-align: center;
  }

  .featured-goods__text-wrapper {
    width: 290px;
    margin-top: 30px;
    margin-right: 300px;
    margin-bottom: 20px;
  }
  .featured-goods__details-wrapper {
    width: 290px;
    margin-right: 300px;
  }

  .featured-goods__image {
    height: 405px;
    width: 335px;
    position: absolute;
    right: 50px;
    top: 135px;
  }

  .featured-goods__price {
    width: 290px;
    margin-right: 300px;
    margin-top: 0;
    margin-bottom: 15px;
    height: auto;
    font-size: $font-size--bigger + 3px;
  }

  .featured-goods__button {
    width: 290px;
    margin-right: 300px;
  }

  .featured-goods__text-wrapper {
    font-size: $font-size--bigger;
    line-height: $line-height--bigger;
    font-weight: normal;
    color: $color-darkgrey;
  }
}

@media (min-width: $screen-large) {
  .featured-goods {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 45px;
    padding-bottom: 100px;
    margin: 0 50px;
    margin-bottom: 57px;
    margin-left: calc((100% - 1050px) /2);
    margin-right: calc((100% - 1050px) /2);
    border-image-slice: 85;
    border-image-width: 0 0 25px 0;
    border-image-repeat: repeat;
  }

  .featured-goods__label {
    order: 1;
    display: flex;
    align-items: center;
    width: 170px;
    margin: 0;
    padding: 0 40px;
    padding-bottom: 10px;
  }

  .featured-goods__title {
    order: 2;
    padding-top: 0;
    font-size: $font-size--large-h1;
    line-height:  $line-height--large-h1;
    margin-bottom: 25px;
  }

  .featured-goods__text-wrapper {
    order: 5;
    margin-left: 175px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .featured-goods__details-wrapper {
    order: 5;
    margin-left: 175px;
    margin-bottom: 65px;
  }

  .featured-goods__price {
    order: 5;
    margin-left: 175px;
    margin-bottom: 30px;
    align-items: flex-end;
  }

  .featured-goods__button {
    order: 5;
    margin-left: 175px;
  }

  .featured-goods__image {
    height: 636px;
    width: 525px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
