.featured-goods {
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.featured-goods__title {
  margin: 0;
  padding: 0;
  padding-top: 30px;

  font-size: $font-size + 10px;
  line-height: $line-height + 6px;
  font-weight: normal;
}

.featured-goods__label {
  padding-bottom: 30px;

  font-size: $font-size + 2px;
  line-height: $line-height - 4px;
  font-weight: normal;
  color: $color-text--primary;
  text-transform: uppercase;
}

.featured-goods__text-wrapper {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: normal;
  color: $color-darkgrey;
}

.featured-goods__details-wrapper {
  width: 100%;
  margin: 0;
  padding-bottom: 28px;
  border-collapse: collapse;

  font-size: $font-size;
  line-height: $line-height - 4px;
  font-weight: normal;
  color: $color-darkgrey;
}

.featured-goods__details-row {
  height: 40px;
  display: flex;

  align-items: center;
  border-bottom: 1px solid $color-border;
}

.featured-goods__details-label {
  display: inline-block;
  width: 100px;
}

.featured-goods__details-data {
  display: inline-block;
  margin: 0;
}

.featured-goods__image {
  height: 315px;
  width: 260px;
}

.featured-goods__price {
  display: flex;
  width: 100%;
  height: 75px;
  justify-content: center;
  align-items: center;

  font-size: $font-size + 2px;
  line-height: $line-height;
  color: $color-darkgrey;
  font-weight: bold;
}

.featured-goods__button {
  height: 52px;
  width: 260px;
}

@media (min-width: $width-medium) {
  .featured-goods {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 50px;
    margin-bottom: 65px;
    padding: 0;
  }

  .featured-goods__title {
    margin: 0;
    padding: 0;
    padding-top: 30px;

    font-size: $font-size--medium-h1;
    line-height:  $line-height--medium-h1;
    font-weight: bold;
  }

  .featured-goods__label {
    padding: 0;
    padding-right: 20px;
    margin-left: auto;
    margin-top: auto;
    width: 100px;

    font-size: $font-size + 2;
    line-height: $line-height - 7;
    font-weight: bold;
    text-align: center;
  }

  .featured-goods__text-wrapper {
    width: 290px;
    margin-right: 300px;
    margin-bottom: 20px;
  }
  .featured-goods__details-wrapper {
    width: 290px;
    margin-right: 300px;
  }

  .featured-goods__image {
    height: 405px;
    width: 335px;
    position: absolute;
    right: 0;
    top: 100px;
  }

  .featured-goods__price {
    width: 290px;
    margin-right: 300px;
    margin-top: 55px;
    margin-bottom: 30px;
    height: auto;

    font-size: $font-size--bigger + 3px;
  }

  .featured-goods__button {
    width: 290px;
    margin-right: 300px;
  }

  .featured-goods__text-wrapper {
    font-size: $font-size--bigger;
    line-height: $line-height--bigger;
    font-weight: normal;
    color: $color-darkgrey;
  }
}

@media (min-width: $width-large) {
  .featured-goods {
    display: flex;
    flex-wrap: wrap;
    min-height: 636px;
    margin: 0 100px;
    margin-bottom: 85px;
  }

  .featured-goods__label {
    order: 1;
    display: flex;
    align-items: center;
    width: 175px;
    margin: 0;
    padding: 0 40px;
  }

  .featured-goods__title {
    order: 2;
    padding-top: 0;

    font-size: $font-size--large-h1;
    line-height:  $line-height--large-h1;
  }

  .featured-goods__text-wrapper {
    order: 5;
    margin-left: 175px;
  }

  .featured-goods__details-wrapper {
    order: 5;
    margin-left: 175px;
  }

  .featured-goods__price {
    order: 5;
    margin-left: 175px;
  }

  .featured-goods__button {
    order: 5;
    margin-left: 175px;
    margin-top: auto;
  }

  .featured-goods__image {
    height: 636px;
    width: 525px;
    position: absolute;
    float: right;
    top: 0;
    z-index: -1;
  }
}
