.field-radio {
  display: flex;
  height: 40px;
  align-items: center;

  &__name {
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;

    padding-left: 60px;
  }

  &__input {
    display: none;
  }
}
