.field-checkbox {
  display: flex;
  height: 50px;
  align-items: center;
}

.field-checkbox__name {
  position: relative;
  padding-left: 60px;
  font-size: $font-size + 2;
  line-height: $line-height - 6;
  font-weight: bold;

  &::before {
    content: "";
    display: block;
    height: 39px;
    width: 40px;
    position: absolute;
    left: 0;
    top: -10px;
    border: 2px solid black;
  }
}

.field-checkbox:hover .field-checkbox__name {
  &::before {
    border: 2px solid $color-inputs-green;
  }
}

.field-checkbox:active .field-checkbox__name {
  &::before {
    border: 1px solid $color-inputs-green;
  }
}

.field-checkbox input[type='checkbox']:active + .field-checkbox__name {
  &::before {
    border: solid 2px #c7c7c7;
  }
}

.field-checkbox input[type='checkbox']:focus + .field-checkbox__name {
  &::before {
    outline: 5px auto -webkit-focus-ring-color;
  }
}

.field-checkbox input[type='checkbox']:checked + .field-checkbox__name {
  &::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -3px;
    height: 22px;
    width: 32px;
    background:
      no-repeat
      url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2230px%22%20height%3D%2222px%22%20viewBox%3D%220%200%2030%2022%22%20enable-background%3D%22new%200%200%2032.666%2022.742%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cpolygon%20points%3D%2232.666%2C1.414%2031.252%2C0%2011.338%2C19.914%201.414%2C9.989%200%2C11.403%209.924%2C21.328%209.924%2C21.328%2011.338%2C22.742%2011.338%2C22.742%2011.339%2C22.742%2012.753%2C21.328%2012.752%2C21.328%20%22%2F%3E%0A%3C%2Fsvg%3E");
  }
}

.field-checkbox__input {
  height: 0;
  width: 0;
}

@media (min-width: $screen-medium) {
  .field-checkbox {
    width: 49.3333%;
    display: inline-flex;
    height: 50px;
  }

  .field-checkbox__name {
    padding-left: 80px;
    padding-bottom: 10px;
    font-size: $font-size + 4px;

    &::before {
      height: 50px;
      width: 50px;
      left: 5px;
      top: -14px;
    }
  }

  .field-checkbox input[type='checkbox']:checked + .field-checkbox__name {
    &::after {
      left: 16px;
      top: 0px;
      height: 25px;
      width: 35px;
    }
  }
}

@media (min-width: $screen-large) {
  .field-checkbox {
    width: 32%;
    display: inline-flex;
  }

  .field-checkbox__name {
    font-size: $font-size--bigger + 2px;
    line-height: $line-height--bigger - 12px;
  }
}
