.field-radio {
  box-sizing: border-box;
  display: flex;
  height: 40px;
  align-items: center;
}

.field-radio__name {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  padding-left: 60px;
}

.field-radio__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

@media (min-width: $width-medium) {

}
