.field-text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &--wrapper {
    &::before {
      content: "";
      border-bottom: 1px solid $color-text--primary;
      flex-grow: 1;
    }
  }
}

.form__contacts-input {
  margin-bottom: 35px;
}

.field-text__name {
  font-size: $font-size + 2px;
  line-height: $line-height - 6px;
  font-weight: bold;



  &--big {
    order: -1;
    padding-right: 25px;
    font-size: $font-size + 2px;
    line-height: $line-height - 8px;
    color: $color-text--primary;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.field-text__input {
  width: 100%;
  height: 50px;
  margin-top: 4px;
  border: none;
  border-bottom: 2px solid #000000;
  font-size: $font-size + 2px;
  line-height: $line-height - 6px;

  &--phone {
    background:
      no-repeat
      url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%23cccccc%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2224.829px%22%20height%3D%2224.333px%22%20viewBox%3D%220%200%2024.829%2024.333%22%20enable-background%3D%22new%200%200%2024.829%2024.333%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cg%3E%0A%20%20%20%20%3Cg%20id%3D%22UrwUhy_2_%22%3E%0A%20%20%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M17.321%2C24.333c-0.371%2C0-0.744%2C0-1.115%2C0c-4.904-0.58-8.497-2.857-11.11-5.772C2.473%2C15.637%2C0.402%2C11.875%2C0%2C6.817%20c0-0.453%2C0-0.906%2C0-1.358c0.091-0.921%2C0.544-1.55%2C1.067-2.086c0.65-0.666%2C1.63-1.522%2C2.522-1.553%20c0.659-0.022%2C1.78%2C0.451%2C2.232%2C1.066c0.388%2C0.53%2C0.595%2C1.59%2C0.775%2C2.378c0.185%2C0.797%2C0.6%2C1.95%2C0.485%2C2.717%20C6.905%2C9.177%2C5.317%2C9.684%2C4.85%2C10.553c1.551%2C3.721%2C4.089%2C6.456%2C7.472%2C8.345c0.847-0.465%2C1.595-1.864%2C2.767-1.892%20c0.428-0.012%2C0.972%2C0.209%2C1.406%2C0.34c0.477%2C0.143%2C0.891%2C0.326%2C1.311%2C0.484c0.705%2C0.266%2C1.957%2C0.621%2C2.378%2C1.213%20c0.433%2C0.61%2C0.681%2C1.608%2C0.581%2C2.231C20.571%2C22.508%2C18.538%2C23.877%2C17.321%2C24.333z%22%2F%3E%0A%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3Cpath%20d%3D%22M12.529%2C1.528c5.949%2C0%2C10.771%2C4.822%2C10.771%2C10.771h1.529C24.829%2C5.507%2C19.323%2C0%2C12.529%2C0V1.528z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M12.529%2C9.327v1.552c0.785%2C0%2C1.421%2C0.636%2C1.421%2C1.42h1.553C15.502%2C10.657%2C14.172%2C9.327%2C12.529%2C9.327z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M12.529%2C6.246c3.345%2C0%2C6.056%2C2.71%2C6.056%2C6.054h1.588c0-4.22-3.422-7.641-7.644-7.641V6.246z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
    background-position: 99% 50%;

    &:hover,
    &:active  {
      background:
        no-repeat
        url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%2362d1ba%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2224.829px%22%20height%3D%2224.333px%22%20viewBox%3D%220%200%2024.829%2024.333%22%20enable-background%3D%22new%200%200%2024.829%2024.333%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cg%3E%0A%20%20%20%20%3Cg%20id%3D%22UrwUhy_2_%22%3E%0A%20%20%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M17.321%2C24.333c-0.371%2C0-0.744%2C0-1.115%2C0c-4.904-0.58-8.497-2.857-11.11-5.772C2.473%2C15.637%2C0.402%2C11.875%2C0%2C6.817%20c0-0.453%2C0-0.906%2C0-1.358c0.091-0.921%2C0.544-1.55%2C1.067-2.086c0.65-0.666%2C1.63-1.522%2C2.522-1.553%20c0.659-0.022%2C1.78%2C0.451%2C2.232%2C1.066c0.388%2C0.53%2C0.595%2C1.59%2C0.775%2C2.378c0.185%2C0.797%2C0.6%2C1.95%2C0.485%2C2.717%20C6.905%2C9.177%2C5.317%2C9.684%2C4.85%2C10.553c1.551%2C3.721%2C4.089%2C6.456%2C7.472%2C8.345c0.847-0.465%2C1.595-1.864%2C2.767-1.892%20c0.428-0.012%2C0.972%2C0.209%2C1.406%2C0.34c0.477%2C0.143%2C0.891%2C0.326%2C1.311%2C0.484c0.705%2C0.266%2C1.957%2C0.621%2C2.378%2C1.213%20c0.433%2C0.61%2C0.681%2C1.608%2C0.581%2C2.231C20.571%2C22.508%2C18.538%2C23.877%2C17.321%2C24.333z%22%2F%3E%0A%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3Cpath%20d%3D%22M12.529%2C1.528c5.949%2C0%2C10.771%2C4.822%2C10.771%2C10.771h1.529C24.829%2C5.507%2C19.323%2C0%2C12.529%2C0V1.528z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M12.529%2C9.327v1.552c0.785%2C0%2C1.421%2C0.636%2C1.421%2C1.42h1.553C15.502%2C10.657%2C14.172%2C9.327%2C12.529%2C9.327z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M12.529%2C6.246c3.345%2C0%2C6.056%2C2.71%2C6.056%2C6.054h1.588c0-4.22-3.422-7.641-7.644-7.641V6.246z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
      background-position: 99% 50%;
    }
  }

  &--email {
    background:
      no-repeat
      url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2232px%22%20height%3D%2232px%22%20viewBox%3D%220%200%2032%2032%22%20enable-background%3D%22new%200%200%2032%2032%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cpath%20id%3D%22mail%22%20fill%3D%22%23cccccc%22%20d%3D%22M28%2C5H4C1.791%2C5%2C0%2C6.792%2C0%2C9v13c0%2C2.209%2C1.791%2C4%2C4%2C4h24c2.209%2C0%2C4-1.791%2C4-4V9%20C32%2C6.792%2C30.209%2C5%2C28%2C5z%20M2%2C10.25l6.999%2C5.25L2%2C20.75V10.25z%20M30%2C22c0%2C1.104-0.898%2C2-2%2C2H4c-1.103%2C0-2-0.896-2-2l7.832-5.875%20l4.368%2C3.277c0.533%2C0.397%2C1.166%2C0.6%2C1.8%2C0.6c0.633%2C0%2C1.266-0.201%2C1.799-0.6l4.369-3.277L30%2C22L30%2C22z%20M30%2C20.75l-7-5.25l7-5.25%20V20.75z%20M17.199%2C18.602c-0.35%2C0.263-0.763%2C0.4-1.199%2C0.4s-0.851-0.139-1.2-0.4L10.665%2C15.5l-0.833-0.625L2%2C9.001V9%20c0-1.103%2C0.897-2%2C2-2h24c1.102%2C0%2C2%2C0.897%2C2%2C2L17.199%2C18.602z%22%2F%3E%0A%3C%2Fsvg%3E");
    background-position: 99% 50%;

    &:hover,
    &:active {
      background:
      no-repeat
      url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2232px%22%20height%3D%2232px%22%20viewBox%3D%220%200%2032%2032%22%20enable-background%3D%22new%200%200%2032%2032%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cpath%20id%3D%22mail%22%20fill%3D%22%2362d1ba%22%20d%3D%22M28%2C5H4C1.791%2C5%2C0%2C6.792%2C0%2C9v13c0%2C2.209%2C1.791%2C4%2C4%2C4h24c2.209%2C0%2C4-1.791%2C4-4V9%20C32%2C6.792%2C30.209%2C5%2C28%2C5z%20M2%2C10.25l6.999%2C5.25L2%2C20.75V10.25z%20M30%2C22c0%2C1.104-0.898%2C2-2%2C2H4c-1.103%2C0-2-0.896-2-2l7.832-5.875%20l4.368%2C3.277c0.533%2C0.397%2C1.166%2C0.6%2C1.8%2C0.6c0.633%2C0%2C1.266-0.201%2C1.799-0.6l4.369-3.277L30%2C22L30%2C22z%20M30%2C20.75l-7-5.25l7-5.25%20V20.75z%20M17.199%2C18.602c-0.35%2C0.263-0.763%2C0.4-1.199%2C0.4s-0.851-0.139-1.2-0.4L10.665%2C15.5l-0.833-0.625L2%2C9.001V9%20c0-1.103%2C0.897-2%2C2-2h24c1.102%2C0%2C2%2C0.897%2C2%2C2L17.199%2C18.602z%22%2F%3E%0A%3C%2Fsvg%3E");
    background-position: 99% 50%;
    }
  }

  &::placeholder {
    opacity: 1;
    color: rgba(44, 44, 44, 0.3);
  }
}

.field-text__input:hover,
.field-text__input:focus,{
  border-bottom: 2px solid $color-inputs-green;
}

.field-text__textarea:hover,
.field-text__textarea:focus {
  border: 2px solid $color-inputs-green;
}

.field-text__textarea {
  width: 100%;
  height: 142px;
  margin-top: 20px;
  padding: 15px;
  border: 2px solid #000000;
  font-size: $font-size + 2px;
  line-height: $line-height - 6px;

  &::placeholder {
    opacity: 1;
    color: rgba(44, 44, 44, 0.3);
  }
}

@media (min-width: $screen-medium) {
  .field-text {
    flex-wrap: nowrap;
    align-items: baseline;

    &--wrapper {
      margin: 0;
      width: 100%;

      &::before {
        content: "";
        border: none;
        flex-grow: 0;
        height: 0;
        width: 0;
        z-index: -1;
      }
    }
  }



  .field-text__name {
    width: 165px;
    flex-shrink: 0;
    font-size: $font-size + 4px;

    &--big {
      padding-right: 0;
    }

    &--shrinks {
      width: auto;
      padding-right: 30px;
    }
  }

  .field-text__input {
    background-color: transparent;
    padding-left: 15px;
    font-size: $font-size + 4px;

    &--phone,
    &--phone:hover,
    &--email,
    &--email:hover {
      background-position-x: 95%; 
    }

    &--phone {
      margin-top: 0px;
      margin-bottom: 20px;
    }

    &::placeholder {
      font-size: $font-size + 4px;
    }
  }

  .field-text__textarea {
    font-size: $font-size + 4px;

    &::placeholder {
      font-size: $font-size + 4px;
    }
  }
}

@media (min-width: $screen-large) {
  .field-text {
    &--wrapper {
      margin: 0;
      margin-right: 175px;
    }
  }

  .field-text__name {
    font-size: $font-size--bigger + 1px;
    line-height: $line-height--bigger - 11px;

    &--big {
      padding-left: 60px;
      margin-right: 10px;
      font-size: $font-size--bigger;
      line-height: $line-height--bigger - 14px;
    }
  }

  .field-text__input {
    &--phone,
    &--phone:hover,
    &--email,
    &--email:hover {
      background-position-x: 99%; 
    }

    &::placeholder {
      font-size: $font-size--bigger + 1px;
      line-height: $line-height--bigger - 11px;
    }
  }

  .field-text__textarea {
    &::placeholder {
      font-size: $font-size--bigger + 1px;
      line-height: $line-height--bigger - 11px;
    }
  }
}
