.field-checkbox {
  display: flex;
  height: 40px;
  align-items: center;
}

.field-checkbox__name {
  font-size: $font-size + 2;
  line-height: $line-height - 6;
  font-weight: bold;

  padding-left: 60px;
}

.field-checkbox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

@media (min-width: $screen-medium) {
  .field-checkbox {
    width: 49%;
    display: inline-flex;
  }
}

@media (min-width: $screen-large) {
  .field-checkbox {
    width: 32%;
    display: inline-flex;
  }

  .field-checkbox__name {
    font-size: $font-size--bigger + 2px;
    line-height: $line-height--bigger - 12px;
  }
}
