.field-radio {
  display: flex;
  height: 50px;
  align-items: center;
}

.field-radio__input { 
  height: 0;
  width: 0;
}

.field-radio:hover .field-radio__name {
  &::before {
    border: 2px solid $color-inputs-green;
  }
}

.field-radio input[type=radio]:focus + .field-radio__name {
  &::before {
    outline: 5px auto -webkit-focus-ring-color;
  }
}

.field-radio__name {
  position: relative;
  padding-left: 62px;
  font-size: $font-size + 2px;
  line-height: $line-height - 6px;
  font-weight: bold;

  &::before {
    content: '';
    position: absolute;
    left: 0px;
    top: -10px;
    height: 35px;
    width: 35px;
    border: solid 2px black;
    border-radius: 50%;
  }
}

.field-radio input[type='radio']:active + .field-radio__name {
  &::before {
    border: solid 2px #c7c7c7;
  }
}

.field-radio input[type='radio']:checked + .field-radio__name {
  &::after {
    content: '';
    position: absolute;
    left: 13px;
    top: 3px;
    height: 14px;
    width: 14px;
    background: $color-inputs-green;
    border-radius: 50%;
  }
}

@media (min-width: $screen-medium) {
  .field-radio {
    height: 65px;
  }

  .field-radio__name {
    padding-left: 80px;
    padding-top: 5px;
    font-size: $font-size + 4px;

    &::before {
      height: 48px;
      width: 48px;
    }
  }

  .field-radio input[type='radio']:checked + .field-radio__name {
    &::after {
      content: '';
      position: absolute;
      left: 17px;
      top: 8px;
      height: 18px;
      width: 18px;
      background: $color-inputs-green;
      border-radius: 50%;
    }
  }
}

@media (min-width: $screen-large) {
  .field-checkbox__name {
    font-size: $font-size--bigger + 2px;
    line-height: $line-height--bigger - 12px;
  }
}
