.form {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 55px;
}

.form__block {
  border: none;
  border-top: 1px solid $color-text--primary;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.form__legend {
  width: 60px;
  display: inline-block;
  margin-bottom: 25px;

  font-size: $font-size + 2px;
  line-height: $line-height - 8px;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-text--primary;

}

.form__info-text {
  margin-bottom: 25px;

  font-size: $font-size - 1px;
  line-height: $line-height - 8px;
  color: $color-darkgrey;
}

@media (min-width: $screen-medium) {
  .form {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .form__block {
    width: 100%;

    border: none;

    &--grey {
      background-color: $color-bg-grey;
    }
  }

  .form__group {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 45px 50px;
    width: 100%;

    &--grey {
      background-color: $color-bg-grey;
    }
  }

  .form__legend {
    width: 165px;
    margin: 0;
  }

  .form__inputs-group {
    width: calc( 100% - 170px );
  }

  .form__info-text {
    order: 5;
    margin-right: 50px;
    margin-left: auto;

    font-size: $font-size--bigger;
    line-height: $line-height--bigger;
  }

  .form__button {
      width: 230px;
      margin-left: 50px;
      margin-bottom: 50px;
  }
}

@media (min-width: $screen-large) {
  .form__legend {
    width: 175px;

    text-align: center;
  }

  .form__inputs-group {
    padding-right: 175px;
    width: calc(100% - 175px);
  }

  .form__info-text {
    margin-right: 225px;
  }

  .form__button {
    margin-left: 225px;
  }
}
