.form {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 55px;
}

.form__group {
  margin-bottom: 35px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &--last {
    margin-bottom: 25px;
  }
}

.form__legend {
  width: 60px;
  display: inline-block;
  font-size: $font-size + 2px;
  line-height: $line-height - 8px;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-text--primary;
}

.form__radio {
  padding-top: 15px;
}

.form__checkbox {
  margin-bottom: 11px;
}

.form__name-input {
  margin-bottom: 20px;
}

.form__legend-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-basis: 100%;

  &::after {
    content: "";
    width: 20px;
    height: 1px;
    border-bottom: 1px solid $color-text--primary;
    display: block;
    flex-grow: 1;
  }
}

.form__info-text {
  margin-bottom: 25px;
  font-size: $font-size - 1px;
  line-height: $line-height - 8px;
  color: $color-darkgrey;
}

.form__input-group {
  width: 100%;
}

@media (min-width: $screen-medium) {
  .form {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .form__radio {
    padding: 0;
    margin-bottom: 15px;
  }

  .form__checkbox {
    margin-bottom: 27px;
  }

  .form__block {
    width: 100%;
    border: none;

    &--grey {
      background-color: $color-bg-grey;
    }
  }

  .form__name-input {
    margin-top: 5px;
  }

  .form__group {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 25px 50px;
    width: 100%;

    &--grey {
      margin-bottom: 15px;
      background-color: $color-bg-grey;
    }

    &--last {
      padding-top: 45px;
    }
  }

  .form__legend {
    width: 165px;
    margin: 0;
  }

  .form__legend-wrapper {
    flex-basis: auto;

    &::after {
      border: none;
      width: 0;
      height: 0;
      opacity: 0;
      z-index: -1;
    }
  }

  .form__inputs-group {
    width: calc(100% - 170px);
  }

  .form__info-text {
    order: 5;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: auto;
    font-size: $font-size--bigger;
    line-height: $line-height--bigger;
  }

  .form__button {
    width: 230px;
    margin-left: 50px;
    margin-bottom: 50px;
  }
}

@media (min-width: $screen-large) {
  .form__legend {
    width: 175px;
    text-align: center;
  }

  .form__group {
    padding-left: calc((100% - 1050px) / 2);
    padding-right: calc((100% - 1050px) / 2);

    &--last {
      margin-bottom: 20px;
    }
  }

  .form__inputs-group {
    padding-right: 175px;
    width: calc(100% - 175px);

    &--checkboxes {
      padding-right: 80px;
    }
  }

  .form__info-text {
    margin-right: calc((100% - 1150px + 450px) / 2);
  }

  .form__button {
    margin-left: calc((100% - 1150px + 450px) / 2);
  }
}
