.form {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 55px;

  &__block {
    border: none;
    border-top: 1px solid $color-text--green;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
  }

  &__legend {
    color: $color-text--green;
    font-size: 17px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 25px;
    width: 60px;
    display: inline-block;
  }

  &__info-text {
    font-size: 14px;
    line-height: 16px;
    color: #444444;

    margin-bottom: 25px;
  }

  &__button {

  }
}
