body {
  font-family: $font-family;
  color: $color-text--header;
  font-size: $font-size--h2;
  line-height: $line-height--h2;
  font-weight: $font-weight;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
