.goods-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods-list__item {
  background-color: $color-bg-green;

  &--dark {
    background-color: $color-bg-darkgreen;
  }
}

.goods-list__link {
  position: relative;
  display: block;
  height: 103px;
  padding-top: 30px;
  padding-right: 200px;
  padding-left: 30px;
  font-size: $font-size + 4px;
  line-height: $line-height;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    height: 113px;
    padding-top: 25px;

    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &--interior {
    &::after {
      content: "";
      opacity: 0.5;
      position: absolute;
      height: 65px;
      width: 40px;
      right: 35px;
      top: 25px;
      z-index: 1;
      background: no-repeat
        url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22svg4488%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2240.219px%22%20height%3D%2262.411px%22%20fill%3D%22%23149080%22%20%20viewBox%3D%22-259.404%20-19.675%2040.219%2062.411%22%20enable-background%3D%22new%20-259.404%20-19.675%2040.219%2062.411%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cg%3E%0A%20%20%20%20%3Cpath%20d%3D%22M-244.227%2C18.283c-0.286%2C0.966-0.245%2C2.191%2C0.027%2C3.639c0.494%2C2.635%2C1.687%2C6.041%2C2.358%2C9.67h5.062%20c0.696-3.641%2C1.949-7.05%2C2.471-9.683c0.287-1.445%2C0.33-2.66%2C0.041-3.617c-0.275-0.899-0.89-1.618-2.021-2.303h-5.997%20C-243.361%2C16.668-243.96%2C17.38-244.227%2C18.283z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M-232.395%2C38.278h-13.799c-1.293%2C0-2.299%2C0.976-2.299%2C2.229v2.229h2.299h13.799h2.299v-2.229%20C-230.096%2C39.254-231.102%2C38.278-232.395%2C38.278z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M-225.262-17.446h-11.732c0-1.244-1.015-2.229-2.3-2.229c-1.283%2C0-2.3%2C0.985-2.3%2C2.229h-11.737l-6.073%2C25.517%20c0.794-0.461%2C1.589-0.992%2C2.632-0.992c1.359%2C0%2C2.243%2C0.818%2C2.924%2C1.375c0.682%2C0.557%2C1.162%2C0.849%2C1.447%2C0.849%20c0.292%2C0.001%2C0.769-0.287%2C1.451-0.836c0.681-0.548%2C1.564-1.358%2C2.915-1.358c1.349%2C0%2C2.237%2C0.806%2C2.919%2C1.354%20c0.684%2C0.549%2C1.161%2C0.84%2C1.451%2C0.84c0.146%2C0%2C0.338-0.073%2C0.58-0.214c0.242-0.141%2C0.53-0.353%2C0.872-0.626%20c0.512-0.411%2C1.139-0.967%2C1.99-1.218c0.284-0.085%2C0.593-0.136%2C0.93-0.136c1.347%2C0%2C2.238%2C0.805%2C2.92%2C1.354%20c0.683%2C0.548%2C1.159%2C0.84%2C1.451%2C0.84c0.287-0.002%2C0.766-0.296%2C1.445-0.85c0.684-0.554%2C1.571-1.367%2C2.925-1.367%20c1.356%2C0%2C2.239%2C0.817%2C2.919%2C1.371c0.342%2C0.276%2C0.631%2C0.489%2C0.872%2C0.631c0.24%2C0.143%2C0.431%2C0.214%2C0.575%2C0.214%20c0.288%2C0%2C0.762-0.293%2C1.442-0.854c0.68-0.559%2C1.567-1.384%2C2.929-1.384c1.044%2C0%2C1.839%2C0.533%2C2.632%2C0.997L-225.262-17.446z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M-235.881%2C33.82h-6.864c-0.657%2C0-1.15%2C0.479-1.15%2C1.115c0%2C0.635%2C0.493%2C1.113%2C1.15%2C1.113h6.9c0.655%2C0%2C1.15-0.479%2C1.15-1.113%20c0-0.636-0.495-1.115-1.15-1.115H-235.881z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M-239.295%2C9.336c-0.146%2C0-0.338%2C0.074-0.58%2C0.213c-0.157%2C0.094-0.37%2C0.261-0.57%2C0.41v3.731h2.299V9.959%20C-238.651%2C9.581-239.054%2C9.336-239.295%2C9.336z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
    }
  }

  &--toy {
    &::after {
      content: "";
      opacity: 0.5;
      position: absolute;
      height: 65px;
      width: 60px;
      right: 30px;
      top: 25px;
      z-index: 1;
      background: no-repeat
        url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2260px%22%20height%3D%2259.62px%22%20viewBox%3D%22226.001%20226.19%2060%2059.62%22%20enable-background%3D%22new%20226.001%20226.19%2060%2059.62%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cpath%20fill%3D%22%23149080%22%20d%3D%22M226.001%2C269.871l27.438%2C15.934v-23.346l-27.438-15.94V269.871z%20M277.347%2C238.627v2.453%20c0%2C1.817-3.458%2C3.29-7.73%2C3.29c-4.266%2C0-7.727-1.473-7.727-3.29v-4.059h0.024c0.26%2C1.714%2C3.604%2C3.073%2C7.702%2C3.073%20c4.272%2C0%2C7.729-1.474%2C7.729-3.285c0-1.819-3.457-3.289-7.729-3.289c-0.339%2C0-0.675%2C0.01-1.002%2C0.03l-4.975-2.888v3.086%20c0%2C1.817-3.454%2C3.29-7.723%2C3.29c-2.683%2C0-5.045-0.583-6.433-1.467c-0.196-0.203-0.439-0.401-0.732-0.586%20c-0.363-0.381-0.565-0.797-0.565-1.236v-2.986l-4.807%2C2.792c-0.347-0.017-0.696-0.033-1.054-0.033c-4.267%2C0-7.727%2C1.469-7.727%2C3.289%20c0%2C1.811%2C3.46%2C3.285%2C7.727%2C3.285c4.099%2C0%2C7.446-1.358%2C7.705-3.073h0.022v4.059c0%2C1.817-3.455%2C3.29-7.727%2C3.29%20c-4.267%2C0-7.727-1.473-7.727-3.29v-2.42l-5.952%2C3.452l27.531%2C15.986l27.351-15.882L277.347%2C238.627z%20M263.703%2C248.793%20c0%2C1.817-3.46%2C3.287-7.727%2C3.287c-4.269%2C0-7.729-1.47-7.729-3.287v-4.059h0.024c0.26%2C1.715%2C3.603%2C3.076%2C7.705%2C3.076%20c4.101%2C0%2C7.443-1.361%2C7.705-3.076h0.021V248.793L263.703%2C248.793z%20M258.558%2C262.666v23.144L286%2C269.871v-23.144L258.558%2C262.666z%20%20M255.917%2C232.762c4.269%2C0%2C7.723-1.47%2C7.723-3.286c0-1.814-3.454-3.287-7.723-3.287c-4.27%2C0-7.729%2C1.472-7.729%2C3.287%20C248.187%2C231.292%2C251.647%2C232.762%2C255.917%2C232.762%22%2F%3E%0A%3C%2Fsvg%3E");
    }
  } 
}

@media (min-width: $screen-medium) {
  .goods-list {
    display: flex;
    position: relative;
    padding: 0 50px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
  }

  .goods-list__item {
    width: 50%;
  }

  .goods-list__link {
    height: 120px;
    padding-left: 35px;
    padding-top: 30px;
    font-size: $font-size--bigger + 3px;
    line-height: $line-height--bigger;
    font-weight: bold;
  }

}

@media (min-width: $screen-medium) {
  .goods-list { 
    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      z-index: 2;
      height: 20px;
      background-image: url("img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position-x: center;
    }
  }
}

@media (min-width: $screen-large) {
  .goods-list {

    padding: 0;
    padding-left: calc((100% - 1050px) /2);
    padding-right: calc((100% - 1050px) /2);
    margin-bottom: 75px;
  }

  .goods-list__link {   
    padding-right: calc(100% - 175px)
  }

  .goods-list__item {
    width: 50%;
    flex-grow: 0;
  }
}
