.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  min-height: 79px;
  position: relative;

  box-shadow:
    0px 1px 0px 0px rgba(236, 236, 236, 1);

  &--desktop-item {
    position: absolute;
    z-index: -1;
    height: 0;
    width: 0;
    opacity: 0;
   }


}

.main-nav__item--search,
.main-nav__item--basket {
  &::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: -1;
    top: 30px;
    left: 30px;
    opacity: 0.2;
  }
}

.main-nav__item--search {
  &::before {
    background:
      no-repeat
      url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2217.6px%22%20height%3D%2217.6px%22%20viewBox%3D%22-0.8%20-0.8%2017.6%2017.6%22%20enable-background%3D%22new%20-0.8%20-0.8%2017.6%2017.6%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cpath%20fill%3D%22%23231F20%22%20d%3D%22M16.47%2C14.93l-3.415-3.415C14.02%2C10.226%2C14.6%2C8.634%2C14.6%2C6.899c0-4.253-3.447-7.699-7.7-7.699%20S-0.8%2C2.646-0.8%2C6.899s3.446%2C7.7%2C7.699%2C7.7c1.734%2C0%2C3.326-0.58%2C4.613-1.546l3.417%2C3.416c0.203%2C0.202%2C0.418%2C0.33%2C0.771%2C0.33%20c0.607%2C0%2C1.1-0.492%2C1.1-1.1C16.8%2C15.459%2C16.739%2C15.2%2C16.47%2C14.93z%20M1.399%2C6.899c0-3.038%2C2.462-5.5%2C5.5-5.5s5.5%2C2.462%2C5.5%2C5.5%20s-2.462%2C5.5-5.5%2C5.5S1.399%2C9.938%2C1.399%2C6.899z%22%2F%3E%0A%3C%2Fsvg%3E");
  }

  &:hover {
    &::before {
      opacity: 1;
      background:
        no-repeat
        url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2217.6px%22%20height%3D%2217.6px%22%20viewBox%3D%22-0.8%20-0.8%2017.6%2017.6%22%20enable-background%3D%22new%20-0.8%20-0.8%2017.6%2017.6%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cpath%20fill%3D%22%2363d1bb%22%20d%3D%22M16.47%2C14.93l-3.415-3.415C14.02%2C10.226%2C14.6%2C8.634%2C14.6%2C6.899c0-4.253-3.447-7.699-7.7-7.699%20S-0.8%2C2.646-0.8%2C6.899s3.446%2C7.7%2C7.699%2C7.7c1.734%2C0%2C3.326-0.58%2C4.613-1.546l3.417%2C3.416c0.203%2C0.202%2C0.418%2C0.33%2C0.771%2C0.33%20c0.607%2C0%2C1.1-0.492%2C1.1-1.1C16.8%2C15.459%2C16.739%2C15.2%2C16.47%2C14.93z%20M1.399%2C6.899c0-3.038%2C2.462-5.5%2C5.5-5.5s5.5%2C2.462%2C5.5%2C5.5%20s-2.462%2C5.5-5.5%2C5.5S1.399%2C9.938%2C1.399%2C6.899z%22%2F%3E%0A%3C%2Fsvg%3E");
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
      background:
        no-repeat
        url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2217.6px%22%20height%3D%2217.6px%22%20viewBox%3D%22-0.8%20-0.8%2017.6%2017.6%22%20enable-background%3D%22new%20-0.8%20-0.8%2017.6%2017.6%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cpath%20fill%3D%22%2363d1bb%22%20d%3D%22M16.47%2C14.93l-3.415-3.415C14.02%2C10.226%2C14.6%2C8.634%2C14.6%2C6.899c0-4.253-3.447-7.699-7.7-7.699%20S-0.8%2C2.646-0.8%2C6.899s3.446%2C7.7%2C7.699%2C7.7c1.734%2C0%2C3.326-0.58%2C4.613-1.546l3.417%2C3.416c0.203%2C0.202%2C0.418%2C0.33%2C0.771%2C0.33%20c0.607%2C0%2C1.1-0.492%2C1.1-1.1C16.8%2C15.459%2C16.739%2C15.2%2C16.47%2C14.93z%20M1.399%2C6.899c0-3.038%2C2.462-5.5%2C5.5-5.5s5.5%2C2.462%2C5.5%2C5.5%20s-2.462%2C5.5-5.5%2C5.5S1.399%2C9.938%2C1.399%2C6.899z%22%2F%3E%0A%3C%2Fsvg%3E");
    }
  }
}

.main-nav__item--basket {
  &::before {
    background:
      no-repeat
      url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2220.294px%22%20height%3D%2218.849px%22%20viewBox%3D%22264.205%20370.961%2020.294%2018.849%22%20enable-background%3D%22new%20264.205%20370.961%2020.294%2018.849%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cpath%20fill%3D%22%23231F20%22%20d%3D%22M283.75%2C378.19h-3.151l-3.407-6.814c-0.185-0.37-0.634-0.52-1.006-0.335%20c-0.371%2C0.186-0.521%2C0.636-0.335%2C1.006l3.071%2C6.143h-9.138l3.072-6.143c0.185-0.371%2C0.035-0.821-0.335-1.006%20c-0.37-0.185-0.821-0.035-1.006%2C0.335l-3.407%2C6.814h-3.151c-0.414%2C0-0.75%2C0.336-0.75%2C0.75s0.336%2C0.75%2C0.75%2C0.75h0.157l0.855%2C2.991%20c-0.187%2C0.137-0.316%2C0.347-0.316%2C0.595c0%2C0.396%2C0.309%2C0.71%2C0.697%2C0.739l1.656%2C5.795h12.697l1.656-5.795%20c0.388-0.028%2C0.698-0.344%2C0.698-0.739c0-0.249-0.129-0.459-0.316-0.596l0.854-2.991h0.157c0.414%2C0%2C0.75-0.336%2C0.75-0.75%20S284.164%2C378.19%2C283.75%2C378.19z%20M279.569%2C388.311h-10.433l-1.224-4.284h12.881L279.569%2C388.311z%20M281.222%2C382.526h-13.739%20l-0.81-2.836h15.359L281.222%2C382.526z%22%2F%3E%0A%3C%2Fsvg%3E");
  }

  &:hover {
    &::before {
      opacity: 1;
      background:
        no-repeat
        url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2220.294px%22%20height%3D%2218.849px%22%20viewBox%3D%22264.205%20370.961%2020.294%2018.849%22%20enable-background%3D%22new%20264.205%20370.961%2020.294%2018.849%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cpath%20fill%3D%22%2363d1bb%22%20d%3D%22M283.75%2C378.19h-3.151l-3.407-6.814c-0.185-0.37-0.634-0.52-1.006-0.335%20c-0.371%2C0.186-0.521%2C0.636-0.335%2C1.006l3.071%2C6.143h-9.138l3.072-6.143c0.185-0.371%2C0.035-0.821-0.335-1.006%20c-0.37-0.185-0.821-0.035-1.006%2C0.335l-3.407%2C6.814h-3.151c-0.414%2C0-0.75%2C0.336-0.75%2C0.75s0.336%2C0.75%2C0.75%2C0.75h0.157l0.855%2C2.991%20c-0.187%2C0.137-0.316%2C0.347-0.316%2C0.595c0%2C0.396%2C0.309%2C0.71%2C0.697%2C0.739l1.656%2C5.795h12.697l1.656-5.795%20c0.388-0.028%2C0.698-0.344%2C0.698-0.739c0-0.249-0.129-0.459-0.316-0.596l0.854-2.991h0.157c0.414%2C0%2C0.75-0.336%2C0.75-0.75%20S284.164%2C378.19%2C283.75%2C378.19z%20M279.569%2C388.311h-10.433l-1.224-4.284h12.881L279.569%2C388.311z%20M281.222%2C382.526h-13.739%20l-0.81-2.836h15.359L281.222%2C382.526z%22%2F%3E%0A%3C%2Fsvg%3E");
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
      background:
        no-repeat
        url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2220.294px%22%20height%3D%2218.849px%22%20viewBox%3D%22264.205%20370.961%2020.294%2018.849%22%20enable-background%3D%22new%20264.205%20370.961%2020.294%2018.849%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cpath%20fill%3D%22%2363d1bb%22%20d%3D%22M283.75%2C378.19h-3.151l-3.407-6.814c-0.185-0.37-0.634-0.52-1.006-0.335%20c-0.371%2C0.186-0.521%2C0.636-0.335%2C1.006l3.071%2C6.143h-9.138l3.072-6.143c0.185-0.371%2C0.035-0.821-0.335-1.006%20c-0.37-0.185-0.821-0.035-1.006%2C0.335l-3.407%2C6.814h-3.151c-0.414%2C0-0.75%2C0.336-0.75%2C0.75s0.336%2C0.75%2C0.75%2C0.75h0.157l0.855%2C2.991%20c-0.187%2C0.137-0.316%2C0.347-0.316%2C0.595c0%2C0.396%2C0.309%2C0.71%2C0.697%2C0.739l1.656%2C5.795h12.697l1.656-5.795%20c0.388-0.028%2C0.698-0.344%2C0.698-0.739c0-0.249-0.129-0.459-0.316-0.596l0.854-2.991h0.157c0.414%2C0%2C0.75-0.336%2C0.75-0.75%20S284.164%2C378.19%2C283.75%2C378.19z%20M279.569%2C388.311h-10.433l-1.224-4.284h12.881L279.569%2C388.311z%20M281.222%2C382.526h-13.739%20l-0.81-2.836h15.359L281.222%2C382.526z%22%2F%3E%0A%3C%2Fsvg%3E");
    }
  }
}

.main-nav__link {
  display: block;
  height: 100%;
  padding: 26px;
  padding-left: 75px;
  font-size: $font-size + 2px;
  line-height: $line-height;
  font-weight: bold;
  color: $color-link;
  text-decoration: none;

  &:hover {
    color: $color-link--hover;
  }

  &:active {
    color: $color-link--down;
  }
}

.main-nav__toggle {
  display: block;
  padding: 0;
  height: 21px;
  width: 21px;
  position: absolute;
  top: 30px;
  right: 30px;
  background: transparent;
  border: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 6px;
    right: -3px;
    display: block;
    width: 29px;
    height: 3px;
    border-top: black solid 3px;
    transform: rotate(45deg);
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 6px;
    left: -3px;
    display: block;
    width: 29px;
    height: 3px;
    border-top: black solid 3px;
    transform: rotate(-45deg);
  }
}


@media (min-width: $screen-medium) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;


    &::before {
      content: "";
      width: 100%;
      height: 1px;
      order: 4;
      border-bottom: solid 1px $color-border;
    }

    &::after {
      content: "Бесплатная доставка по России";
      order: 100;
      margin-left: auto;
      margin-right: 50px;
      padding: 15px 0;

      font-size: $font-size;
      line-height: $line-height;
    }
  }

  .main-nav__item {
    min-height: 88px;
    min-width: 167px;
    order: 99;
    border: none;
    box-shadow: none;

    &--search {
      order: 2;
      margin-left: auto;
      min-width: 80px;
      border-left: solid 1px $color-border;
      border-right: solid 1px $color-border;
    }

    &--basket {
      order: 3;
      width: 250px;
      margin-right: 50px;
      padding-top: 15px;
    }

    &--catalog {
      padding-left: 50px;
      padding-right: 10px;
    }
  }

  .main-nav__link {
    padding-left: 0px;
    padding-top: 15px;
    font-size: $font-size;

    &--basket {
      padding-left: 80px;
      padding-right: 0;
      font-size: $font-size + 2px;
    }

    &--search {
      min-width: 80px;
      font-size: 0;
    }
  }
}

@media (min-width: $screen-large) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;

    &::before {
      order: 2;
    }
  }

  .main-nav__item {
    min-height: 88px;
    min-width: 185px;
    padding-left: 30px;
    order: 0;
    border: none;

    &--search {
      display: flex;
      width: 31%;
      margin-left: auto;

      &::before {
        left: auto;
        right: 33px;
        top: 33px;
      }
    }

    &--basket {
      width: 315px;
      margin-right: 0;
      padding:0 ;
      padding-right: 50px;
      padding-top: 0;
    }

    &--catalog {
      margin-left: 50px;
      padding: 0;
      border-right: solid 1px $color-border;
    }

    &--desktop-item {
      order: 3;
      position: relative;
      z-index: 0;
      height: auto;
      width: auto;
      opacity: 1;

      &:nth-last-child(2) {
        margin-left: 50px;
        padding: 0;
      }
    }
  }

  .main-nav__link {
    padding: 30px 0;
    min-width: 175px;

    font-size: $font-size--bigger;
    line-height: $line-height--bigger - 6px;

    &--basket {
      padding-left: 80px;
    }

    &--search {
      font-size: 0;
      min-width: 88px;
      margin-left: auto;
      border-left: solid 1px $color-border;
      border-right: solid 1px $color-border;
    }

    &--desktop {
      padding-top: 15px;
      font-size: $font-size;
    }
  }
}
