.modal {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 340px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 35px;
  padding-bottom: 50px;
}

.modal__title {
  font-size: $font-size--h1;
  line-height: $line-height--h1;

  box-sizing: border-box;
  margin: 0;
  margin-top: 40px;
  width: 260px;
  padding-left: 55px;
  padding-right: 55px;
}

.modal__lead-text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-size: $font-size;
  line-height: $line-height + 6px;
}

@media (min-width: $width-medium) {
  .modal {
    height: 336px;
    width: 566px;
    margin: 20px auto;
    padding-top: 35px;
    padding-bottom: 45px;

    border: 1px solid $color-border;
  }

  .modal__title {
    width: 100%;
    margin-top: 0;

    font-size: $font-size--large-h1 - 23px;
    line-height: $line-height--large-h1;
    text-transform: uppercase;
    text-align: center;
  }

  .modal__lead-text {
    width: 100%;
    margin-bottom: 0;

    font-size: $font-size--bigger;
    line-height: $line-height--bigger;
    text-align: center;
  }

  .modal__button {
    width: 350px;
    height : 55px;
    margin: auto auto;
    margin-bottom: 0;

    border: none;
    background-color: $color-bg-green;
    color: #ffffff;
  }
}
