.modal {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 340px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 35px;
  padding-bottom: 50px;

  &__title {
    font-size: $font-size--h1;
    line-height: $line-height--h1;

    box-sizing: border-box;
    margin: 0;
    margin-top: 40px;
    width: 260px;
    padding-left: 55px;
    padding-right: 55px;
  }

  &__lead-text {
    font-size: 15px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
