.page-header {
  margin: 0;
  padding-top: 25px;
}

.page-header__logo {
  display: block;
  height: 38px;
  width: 88px;
  margin: 0 auto;
}

.page-header__logo-image {
  height: 38px;
  width: 88px;
}

@media (min-width: $width-medium) {
  .page-header {
    padding-top: 0px;
  }

  .page-header__logo {
    position: absolute;
    left: 50px;
    top: 25px;
  }
}
