.page-catalog__title {
  height: 180px;
  margin: 0;
  background: $color-bg-grey;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: $font-size--h1;
  line-height: $line-height--h1;
  font-weight: normal;
}


@media (min-width: $width-medium) {
  .page-catalog__title {
    margin-top: -88px;
    height: 220px;

    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
  }
}

@media (min-width: $width-large) {
  .page-catalog__title {
    height: 240px;

    font-size: 53px;
    line-height: 57px;
  }
}
