.page-order__flex-wrapper {
  display: flex;
  height: 180px;
  align-items: center;
}

.page-order__title {
  min-height: 180px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-bg-grey;
  font-size: $font-size--h1;
  line-height: $line-height--h1;
  font-weight: bold;
}

.page-order__text-wrapper {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 4px;
  margin-bottom: 24px;

  p {
    font-size: $font-size - 2px;
    line-height: $line-height;
  }
}

@media (min-width: $screen-medium) {
  .page-order__title {
    margin-top: -88px;
    min-height: 220px;
    padding-top: 15px;
    font-size: $font-size--medium-h1;
    line-height:  $line-height--medium-h1;
    font-weight: bold;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: 0% 100%;
  }

  .page-order__text-wrapper {
    margin: 0 50px;
    padding-top: 60px;

    p {
      font-size: $font-size--bigger;
      line-height: $line-height--bigger;
    }
  }
}

@media (min-width: $screen-large) {
  .page-order__title {
    min-height: 270px;
    padding-bottom: 40px;
    margin-bottom: 30px;
    padding-left: calc((100% - 1050px) /2);
    padding-right: calc((100% - 1050px) /2);
    font-size: $font-size--large-h1;
    line-height:  $line-height--large-h1;
  }

  .page-order__text-wrapper {
    margin: 0;
    margin-left: calc((100% - 1150px + 225px) /2);
    margin-right: calc((100% - 1150px + 225px) /2);
  }
}
