.page-footer {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  background-color: $color-bg-grey;
}

.page-footer__logo {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

@media (min-width: $screen-medium) {
  .page-footer {
    display: flex;
    min-height: 145px;
    padding: 0 50px;
  }

  .page-footer__social {
    min-width: 175px;
  }

  .page-footer__logo {
    width: 105px;
    margin-right: 85px;
  }
}
