.page-footer {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  background-color: $color-bg-grey;
}

@media (min-width: $width-medium) {
  .page-footer {
    display: flex;
    min-height: 145px;
    padding: 0 50px;
  }

  .page-footer__social {
    min-width: 175px;
  }
}

