.page-footer {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  background-color: $color-bg-grey;
}

.page-footer__logo {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

@media (min-width: $screen-medium) {
  .page-footer {
    min-height: 145px;
    padding: 0 50px;
  }

  .page-footer__wrapper {

    display: flex;
  }

  .page-footer__social {
    min-width: 175px;
  }

  .page-footer__logo {
    position: relative;
    width: 100px;
    height: 130px;
    margin-right: 85px;
    opacity: 1;
    z-index: 1;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}

@media (min-width: $screen-large) {
  .page-footer {
    padding-left: calc((100% - 1050px) / 2);
    padding-right: calc((100% - 1050px) / 2);
  }
}
