.page-order__title {
  font-size: $font-size--h1;
  line-height: $line-height--h1;
  font-weight: normal;

  height: 180px;
  margin: 0;
  background: $color-bg-grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-order__text-wrapper {
  margin-left: 30px;
  margin-right: 30px;

  p {
    font-size: 13px;
    line-height: 24px;
  }
}

@media (min-width: $width-medium) {
  .page-order__title {
    margin-top: -88px;
    height: 220px;

    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
  }

  .page-order__text-wrapper {
    margin: 0 50px;
    padding-top: 70px;

    p {
      font-size: 17px;
      line-height: 30px;
    }
  }
}

@media (min-width: $width-large) {
  .page-order__title {
    height: 240px;

    font-size: 53px;
    line-height: 57px;
  }

  .page-order__text-wrapper {
    margin: 0 225px;
    padding-top: 70px;

    p {
      font-size: 17px;
      line-height: 30px;
    }
  }
}
