.page-catalog {

  &__title {
    font-size: $font-size--h1;
    line-height: $line-height--h1;
    font-weight: normal;

    height: 180px;
    margin: 0;
    background: $color-bg-grey;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
