.page-header {
  padding-top: 20px;
}

.page-header__logo {
  display: block;
  height: 60px;
  width: 100%;
  box-shadow:
    0px 1px 0px 0px rgba(236, 236, 236, 1);
}

.page-header__logo-image {
  height: 38px;
  width: 88px;
  display: block;
  margin: 0 auto;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $screen-medium) {
  .page-header {
    padding-top: 0px;
  }

  .page-header__logo {
    position: absolute;
    width: auto;
    left: 50px;
    top: 25px;
    box-shadow: none;
  }

  .page-header__logo-image {
    height: auto;
    width: auto;
    display: block;
    margin: 0;
  }
}

@media (min-width: $screen-large) {
  .page-header {
    width: 100%;
    position: relative;
  }

  .page-header__logo {
    position: absolute;
    left: calc(50% - 75px);
    top: 10px;
  }
}
