.page-main {
  margin-bottom: 40px;

  &__wrapper {
    height: 280px;
    width: 100%;
    padding-top: 80px;

    background: url("/img/hero-mobile@1x.jpg") no-repeat;
    background-position-x: 50%;
    background-position-y: 0;
  }

  &__title {
    margin: 0;
    padding-left: 35px;
    padding-right: 35px;
    font-size: $font-size--h1;
    line-height: $line-height--h1;
    text-align: center;
  }
}
