.page-catalog__title {
  height: 175px;
  margin: 0;
  background: $color-bg-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size--h1;
  line-height: $line-height--h1;
  font-weight: bold;
}


@media (min-width: $screen-medium) {
  .page-catalog__title {
    margin-top: -88px;
    height: 240px;
    font-size: $font-size--medium-h1;
    line-height:  $line-height--medium-h1;
    font-weight: bold;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: 0% 100%;
  }
}

@media (min-width: $screen-large) {
  .page-catalog__title {
    padding-left: calc((100% - 1050px) /2);
    padding-right: calc((100% - 1050px) /2);
    height: 270px;
    padding-bottom: 30px;
    font-size: $font-size--large-h1;
    line-height:  $line-height--large-h1;
  }
}
