.promo-story {

  border: 1px solid $color-border;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 60px;

  &__wrapper {
    padding-left: 90px;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  &__title {
    font-size: 17px;
    line-height: 24px;

    margin: 0;
  }

  &__text-wrapper {
    padding-left: 35px;
    padding-right: 35px;

    p {
      font-size: 13px;
      line-height: 24px;
      margin-top: 30px;
      margin-bottom: 30px
    }
  }

  &__button {
    font-weight: normal;

    width: calc(100% - 2*35px);
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 35px;
  }
}
