.reviews {
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 35px;
  border-bottom: 1px solid $color-border;
  border-image-source: url(/img/bg-zigzag-line.svg);
  border-image-slice: 90;
  border-image-width: 0 0 6px 0;
  border-image-repeat: repeat;
}

.reviews__title {
  margin: 0;
  margin-bottom: 22px;
  font-size: $font-size--h2;
  line-height: $line-height--h2;
}

.reviews__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: $font-size;
  line-height: $line-height + 6px;
  color: $color-darkgrey;
}

.reviews__name {
  font-size: $font-size + 2px;
  line-height: $line-height;
  color: #000000;
  font-weight: bold;
}

.reviews__username {
  font-size: $font-size + 2px;
  line-height: $line-height + 6px;
  color: $color-darkgrey;
}

.reviews__controls-wrapper {
  display: flex;
  margin-top: 30px;
  margin-bottom: 36px;
}

.reviews__control {
  display: inline-flex; 
  margin: 0;
  padding: 0;
  width: 50%;
  height: 52px;
  border: 1px solid $color-border;
  background: transparent;

  &--prev {
    background: no-repeat
      url("/img/icon-left-arrow.svg");
    background-position: 48% 45%;
  }

  &--next {
    background: no-repeat
      url("/img/icon-right-arrow.svg");
    background-position: 48% 45%;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__add {
  width: 100%;
  height: 52px;
}

@media (min-width: $screen-medium) {
  .reviews {
    padding: 0 50px;
    padding-top: 80px;
    margin-bottom: 70px;
    min-height: 535px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    background-image: url("/img/review@1x.jpg");
    background-repeat: no-repeat;
    border-image-width: 0 0 15px 0;
    border-image-slice: 30;
    border-image-repeat: stretch;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .reviews {
      background-image: url("/img/review@2x.jpg");
      background-position: left 0%;
      background-size: 350px auto;
    }
  }

  .reviews__title {
    order: 1;
    margin-bottom: 45px;
    margin-right: auto;
    font-size: $font-size--medium-h1;
    line-height:  $line-height--medium-h1;
  }

  .reviews__add {
    order: 2;
    width: 175px;
  }

  .reviews__text-wrapper {
    order: 3;
    margin-bottom: 35px;
  }

  .reviews__text {
    font-size: $font-size--bigger;
    line-height: $line-height--bigger;
  }

  .reviews__names-wrapper {
    order: 4;
    display: flex;
    flex-direction: column;
    width: 74%;
  }

  .reviews__name {
    font-size: $font-size--bigger + 1px;
    line-height: $line-height--bigger;
    font-weight: bold;
  }

  .reviews__username {
    font-size: $font-size--bigger;
    line-height: $line-height--bigger;
  }

  .reviews__controls-wrapper {
    padding-top: 5px;
    order: 5;
    width: 26%;
    margin: 0;
  }

}

@media (min-width: $screen-large) {
  .reviews {
    height: auto;
    margin: 0 50px;
    padding-left: 175px;
    padding-right: 0;
    padding-top: 75px;
    padding-bottom: 190px;
    margin-bottom: 70px;
    border-image-slice: 85;
    border-image-width: 0 0 25px 0;
    border-image-repeat: repeat;
  }

  .reviews__title {
    margin-bottom: 45px;
    font-size: $font-size--large-h1;
    line-height:  $line-height--large-h1;
  }

  .reviews__text-wrapper {
    padding-top: 0;
    padding-right: 100px;
    margin-bottom: 15px;
  }

  .reviews__username {
    font-size: $font-size + 2px;
  }

  .reviews__name {
    font-size: $font-size + 2px;
  }

  .reviews__controls-wrapper {
    width: 175px;
  }

  .reviews__add {
    margin-top: 5px;
  }
}
