$color-link: #000000;
$color-link--hover: #666666;
$color-link--down: #b2b2b2;

$color-icon: #d3d2d2;
$color-icon--hover: #63d1bb;
$color-icon--down: #d3f2ec;

$color-bg-green: #63d1bb;
$color-bg-darkgreen: #56c3b2;
$color-bg-footer: #f1f1f1;
$color-bg-grey: #f1f1f1;

$color-text: #444444;
$color-text--header: #010000;
$color-text--light: #ffffff;
$color-text--green: #63d1bb;

$color-border: #ececec;
$color-border--footer: #e5e5e5;
$color-border--button: #444444;
$color-border--green: #62d1ba;


$screen-small: 320px;

$font-family: "Open Sans", sans-serif;

$font-size--nav: 17px;
$line-height--nav: 24px;

$font-size: 15px;
$line-height: 24px;
$font-weight: normal;

$font-size--review: 15px;
$line-height--review: 30px;

$font-size--button: 17px;
$line-height--button: 16px;

$font-size--h1: 27px;
$line-height--h1: 30px;
$font-size--h2: 25px;
$line-height--h2: 30px;

$font-size--catalog-h2: 17px;
$line-height--catalog-h2: 24px;
$font-size--catalog-price: 15px;
$font-size--catalog-info: 13px;
$line-height--catalog-info: 30px;
