$color-link: #000000;
$color-link--hover: #666666;
$color-link--down: #b2b2b2;

$color-bg-green: #63d1bb;
$color-bg-darkgreen: #56c3b2;
$color-bg-grey: #f1f1f1;

$color-darkgrey: #444444;
$color-text--primary: #63d1bb;

$color-border: #ececec;

$screen-medium: 768px;
$screen-large: 1200px;

$font-family: "Open Sans", sans-serif;

$font-size: 15px;
$line-height: 24px;
$font-size--bigger: 17px;
$line-height--bigger: 30px;

$font-size--h1: 27px;
$line-height--h1: 30px;
$font-size--medium-h1: 43px;
$line-height--medium-h1: 50px;
$font-size--large-h1: 53px;
$line-height--large-h1: 57px;

$font-size--h2: 25px;
$line-height--h2: 30px;
